.logo{
    font-size: 150%;
    font-weight: bold;
}

.login{
    font-size: 120%;
}


header nav{
    text-align: center;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 100%;
}

nav ul{
    margin: 0;
    list-style: none;
}

nav li{
    display: inline-block;
}

li{
    padding: 1.25rem;
}

li a{
    font-size: 115%;
}

a{
    text-decoration: none;
    color: #000;
    font: bold;
}